<div class="all">
  <app-navbar></app-navbar>
  <div class="main">
    <div class="container">
      <div class="tell">Tell us somethings about yourself!</div>

      <span class="advert-span placeholder-glow">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="inputline">
            <input
              id="username"
              type="text"
              formControlName="username"
              placeholder="Name"
            />
            <span *ngIf="failed">
              <i class="ri-error-warning-line"></i> Username Taken
            </span>
          </div>

          <div class="invalid">
            <span
              *ngIf="
                loginForm.get('username')?.invalid &&
                loginForm.get('username')?.touched
              "
              >Enter a Valid Username</span
            >
          </div>

          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Password"
          />

          <div class="invalid">
            <span
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              "
              >Enter A Valid Password</span
            >
          </div>

          <input
            id="email"
            type="text"
            formControlName="email"
            placeholder="Email"
          />

          <div class="invalid">
            <span
              *ngIf="
                loginForm.get('email')?.invalid &&
                loginForm.get('email')?.touched
              "
              >Enter a Valid Email</span
            >
          </div>

          <!-- Dropdown Select for USER TYPE -->

          <mat-chip-listbox
            formControlName="usertype"
            aria-label="usertype selection"
            required
          >
            <mat-chip-option value="buyer">I'm a Buyer</mat-chip-option>
            <mat-chip-option value="seller">I'm a seller</mat-chip-option>
          </mat-chip-listbox>

          <div class="invalid">
            <span
              *ngIf="
                loginForm.get('usertype')?.invalid &&
                loginForm.get('usertype')?.touched
              "
              >Select ONE Option</span
            >
          </div>

          <button class="register" [disabled]="loginForm.invalid">REGISTER</button>
        </form>

        <div *ngIf="!loaded" class="advert placeholder ">
            <div class="logo"><i class="ri-vip-crown-line"></i></div>
            <div class="text"></div>
        </div>
        <div *ngIf="loaded" class="advert">
            <div class="logo"><i class="ri-vip-crown-line"></i></div>
            <div class="text">
                <ul>
                    <li>
                        Be part of the seikatsu elite club for $170/month
                    </li>
                    <li>
                        Save Time and indulge in Luxury
                    </li>
                    <li>
                        Enjoy special Elite Lounge Access
                    </li>
                </ul>
            </div>
            <button class="register">seikatsu elite</button>
        </div>

      </span>
    </div>
  </div>
  <app-footer></app-footer>
</div>
