<div class="all">
  <app-navbar></app-navbar>
  <div class="main">

    <div class="search-stuff">
      <form [formGroup]="fg">
        <input placeholder="Looking for something ?" formControlName="fc">
        <button (click)="sortPropertiesByPriceAsc()">Budget Low to High</button>
        <button (click)="sortPropertiesByPriceDesc()">Budget High to Low</button>
      </form>
    </div>
   
    <div *ngIf="!loaded" class="property-display">
      <div class="property"  *ngFor="let number of [0,1,2,3]">
        <div class="img-holder">
          <div class="loader-Image placeholder-glow">
            <img class="placeholder" src="../../../assets/LoaderLogo.png" alt="placeholder image" />
          </div>
        </div>
        <div class="info">
          <div class="uploader-img placeholder-glow">
            <i class="ri-user-3-line placeholder"></i>
          </div>
          <div class="right">
            <div class="property-title">
              <p class="card-text placeholder-glow">
                <span class="placeholder"></span>
              </p>
            </div>
            <div class="uploaded-by placeholder-glow">
              <span class="placeholder"></span>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div *ngIf="loaded" class="property-display">
        <div *ngFor="let property of filteredProperties" class="property" routerLink="/details/{{property.id}}">
          <div class="img-holder" *ngFor="let image of property.images">
            <img [src]="image" alt="{{ property.propertyName }} image" />
          </div>
          <div class="info">
            <div class="uploader-img">
              <i class="ri-user-3-line"></i>
            </div>
            <div class="right">
              <div class="property-title">{{ property.propertyName }}</div>
              <div class="uploaded-by">Marketed by {{ property.userIds }}</div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="cities">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn btn-outline-primary" for="btnradio1">Hyderabad</label>
        
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio2">Bangalore</label>
        
          <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
          <label class="btn btn-outline-primary" for="btnradio3">Bhubaneshwar</label>
        </div>
      </div>

      <div #map class="map"></div>
    
  </div>
  <app-footer></app-footer>
</div>
