<div class="all">
    <app-navbar></app-navbar>
        <div class="main">
            <div class="left">
                <div class="text-container">
                    <ul>
                        <li>
                            Be part of the seikatsu elite club for $170/month
                        </li>
                        <li>
                            Save Time and indulge in Luxury
                        </li>
                        <li>
                            Enjoy special Elite Lounge Access
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <button (click)="payNow()">pay</button>
            </div>
        </div>
    <app-footer></app-footer>
</div>

