
$primary-sea-green-2 : rgb(238, 253, 248);
$primary-sea-green-2-5 : rgb(228, 248, 241);
$primary-sea-green-3 : rgb(219, 253, 242);
$primary-sea-green-4 : rgb(53, 237, 181);
$primary-sea-green-4 : rgb(33, 217, 161);
$primary-sea-green-5 : rgb(23, 207, 151);
$primary-sea-green-6 : rgb(21, 172, 127);
$primary-sea-green-7 : rgb(10, 109, 79);
$primary-sea-green-8 : rgb(2, 69, 49);

$color-scale-black: #010409;
$color-scale-white: #ffffff;
$color-scale-gray-0: #f0f6fc;
$color-scale-gray-1: #c9d1d9;
$color-scale-gray-2: #b1bac4;
$color-scale-gray-3: #8b949e;
$color-scale-gray-4: #6e7681;
$color-scale-gray-5: #484f58;
$color-scale-gray-6: #30363d;
$color-scale-gray-7: #21262d;
$color-scale-gray-8: #161b22;
$color-scale-gray-9: #0d1117;
$color-scale-blue-0: #cae8ff;
$color-scale-blue-1: #a5d6ff;
$color-scale-blue-2: #79c0ff;
$color-scale-blue-3: #58a6ff;
$color-scale-blue-4: #388bfd;
$color-scale-blue-5: #1f6feb;
$color-scale-blue-6: #1158c7;
$color-scale-blue-7: #0d419d;
$color-scale-blue-8: #0c2d6b;
$color-scale-blue-9: #051d4d;
$color-scale-green-0: #aff5b4;
$color-scale-green-1: #7ee787;
$color-scale-green-2: #56d364;
$color-scale-green-3: #3fb950;
$color-scale-green-4: #2ea043;
$color-scale-green-5: #238636;
$color-scale-green-6: #196c2e;
$color-scale-green-7: #0f5323;
$color-scale-green-8: #033a16;
$color-scale-green-9: #04260f;
$color-scale-yellow-0: #f8e3a1;
$color-scale-yellow-1: #f2cc60;
$color-scale-yellow-2: #e3b341;
$color-scale-yellow-3: #d29922;
$color-scale-yellow-4: #bb8009;
$color-scale-yellow-5: #9e6a03;
$color-scale-yellow-6: #845306;
$color-scale-yellow-7: #693e00;
$color-scale-yellow-8: #4b2900;
$color-scale-yellow-9: #341a00;
$color-scale-orange-0: #ffdfb6;
$color-scale-orange-1: #ffc680;
$color-scale-orange-2: #ffa657;
$color-scale-orange-3: #f0883e;
$color-scale-orange-4: #db6d28;
$color-scale-orange-5: #bd561d;
$color-scale-orange-6: #9b4215;
$color-scale-orange-7: #762d0a;
$color-scale-orange-8: #5a1e02;
$color-scale-orange-9: #3d1300;

.toprow{
    padding: 1vw 4vw;
    font-weight: 100;
    color: rgba(0,0,0,0.4);
    font-size: 1.3vw;
}

hr {
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
}

.slider{
    padding: 1vw 4vw;
    .emi{
        margin-top: 1vw;
        color: rgba(0,0,0,0.6);
    }
}


.all{
    overflow: hidden;
    .main{
        margin-top: 6.7vw;
        background-color: white;
        .map-wrapper{
            padding: 1vw 4vw;
            .map{
                height: 45vh;
                width: 90vw;
                border-radius: 1vw;
            }
        }
        .details{
            display: flex;
            padding: 0 4vw;
            gap: 2vw;
            .box{
                border: 3px white solid;
                box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
                background: linear-gradient(312deg, rgb(119, 119, 119) 0%, rgb(171, 171, 171) 100%);
                color: white;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                padding: 1vw;
                font-size: 1vw;
                width: 16vw;
                border-radius: 0.6vw;
            }
        }
        .product-display{
            padding: 4vw;
            .left{
                display: flex;
                gap: 4vw;
                .img-holder{
                    display: flex;
                    align-items: center;
                    overflow: hidden;
                    width: 45vw;
                    height: 60vh;
                    background-color: black;
                    img{
                        width: 45vw;
                    }
                }
                .text-container{
                    display: flex;
                    flex-direction: column;
                    width: 45vw;
                    gap: 1vw;
                    .tags{
                        display: flex;
                        gap: 1vw;
                        .zero{
                            margin-top: -1.4vw;
                            margin-bottom: 1vw;
                            background-color: rgb(227, 255, 186);
                            width: max-content;
                            padding: 0 0.6vw;
                            border-radius: 2vw;
                            color: rgb(109, 137, 68);
                        }
                    }
                    .title{
                        border-radius: 0.8vw;
                        color: $color-scale-gray-7;
                        font-size: 4vw;
                        font-weight: 800;
                        letter-spacing: 0.2vw;
                    }
                    .second-title{
                        border-radius: 0.8vw;
                        margin-top: -1.4vw;
                        display: flex;
                        gap: 1vw;
                        font-size: 1.4vw;
                        .org{
                            border-radius: 0.8vw;
                            color: $primary-sea-green-6;
                        }
                        .location{
                            border-radius: 0.8vw;
                            font-weight: 600;
                        }
                    }
                    .desc{
                        border-radius: 0.8vw;
                        color: $color-scale-gray-5;
                    }
                    .sku{
                        border-radius: 0.8vw;
                        font-size: 0.8vw;
                        font-weight: 600;
                        color: $primary-sea-green-6;
                        letter-spacing: 0.1vw;
                    }
                    .price{
                        border-radius: 0.8vw;
                        span{
                            background-color: $color-scale-gray-7;
                            color: white;
                            padding: 1vw;
                            border-radius: 1vw;
                            font-size: 1.2vw;
                            font-weight: 600;
                            letter-spacing: 0.1vw;
                        }
                    }
                }
            }
        }
        .p-dis{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 4vw;
            gap: 3vw;
            .property{
                border: 4px solid white;
                flex-direction: column;
                width: 20vw;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1vw;
                padding: 0vw;
                background-color:$primary-sea-green-3;
                scale: 1;
                overflow: hidden;
                transition: scale 0.1s ease-in-out;
                .img-holder{
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    width: 27vw;
                    justify-content: center;
                    border-radius: 0.5vw;
                    overflow: hidden;
                    height: 17vw;
                    img{
                        width: 27vw;
                    }
                }
                .info{
                    width: 100%;
                    padding: 1vw;
                    display: flex;
                    gap: 2vw;
                    .uploader-img{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            color: white;
                            font-size: 1.8vw;
                            font-weight: 600;
                            padding: 0.2vw 0.8vw;
                            border-radius: 0.4vw;
                            background-color: $primary-sea-green-5;
                        }
                    }
                    .right{
                        .property-title{
                            color: $primary-sea-green-6;
                            font-weight: 600;
                            font-size: 1.4vw;
                            letter-spacing: 0.05vw;
                        }
                        .uploaded-by{
                            color: $primary-sea-green-5;
                        }
                    }
                }
            }
        }
    }
}